body {
    font-family: Oswald;
    overflow: hidden;
    background: linear-gradient(rgba(5, 7, 12, 0.9), rgba(5, 7, 12, 0.4)), url('/img/background.jpg');
    background-position: center 8vh;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: secondary;
}



iframe {
    margin: auto;
    margin-top: 2vh;
    display: block;
    width: 60%;
    height: 85vh;
    border-radius: 20px;
}

.galeria {
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria li {
    margin: 5px;

}

.galeria img {
    width: 500px;
    height: 450px;
}

.modal {
    display: none;
}

.modal:target {
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
}

.imagen {
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.imagen a {
    color: white;
    font-size: 40px;
    text-decoration: none;
    margin: 0 10px;
}

.imagen a:nth-child(2) {
    margin: 50px;
    height: 100%;
    flex-shrink: 2;
}

.imagen img {
    width: 500px;
    height: 100%;
    max-width: 100%;
    border: 7px solid #fff;
    box-sizing: border-box;
}

.cerrar {
    display: block;
    background: #fff;
    width: 35px;
    height: 35px;
    margin: 15px auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    padding: 5px;
    border-radius: 50%;
    line-height: 25px;
}