<div class="title text-center py-5">
  <h1 style="color:white">Puedes contactarnos en nuestras redes</h1>
</div>

<div class="row text-center" style="margin-left:10%;">

  <div class="col ml-5">
    <div class="card" style="width: 18rem;">
      <img src="/img/instagram.png" class="card-img-top" target="_blank" style="margin:5%; height:260px; width:260px;">
      <div class="card-body">
        <h3>Facebook</h3>
        <p class="card-text">
          <a href="https://www.instagram.com/kafoscoffee/?hl=es">Síguenos en Instagram</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col ml-5">

    <div class="card" style="width: 18rem;">
      <img src="/img/facebook.png" class="card-img-top" style="margin:5%; height:260px; width:260px;">
      <div class="card-body">
        <h3>Instagram</h3>
        <p class="card-text">
          <a href="https://www.facebook.com/kafoscoffee/">Síguenos en Instagram</a>
        </p>
      </div>
    </div>

  </div>
  

  <div class="col ml-5">
    <div class="card" style="width: 18rem;">
      <img src="/img/gmail.png" class="card-img-top" style="margin:5%; height:260px; width:260px;">
      <div class="card-body">
        <h3>Gmail</h3>
        <p class="card-text">
          info@coffeeebeand.com
        </p>
      </div>
    </div>
  </div>

</div>