<div class="galeriaKafos">
    <ul class="galeria">
    <li><a href="#img1"><img src="/img/kafos1.jpg"></a></li>
    <li><a href="#img2"><img src="/img/kafos2.jpg"></a></li>
    <li><a href="#img3"><img src="/img/kafos3.jpg"></a></li>
    <li><a href="#img4"><img src="/img/kafos4.jpg"></a></li>
    <li><a href="#img5"><img src="/img/kafos5.jpg"></a></li>
    <li><a href="#img6"><img src="/img/kafos6.jpg"></a></li>
    <li><a href="#img7"><img src="/img/kafos7.jpg"></a></li>
</ul>

<div class="modal" id="img1">
    <div class="imagen">
        <a href="#img7">&#60;</a>
        <a href=""><img src="/img/kafos1.jpg"></a>
        <a href="#img2">></a>
    </div>
    <a class="cerrar" href="">X</a>
</div>
<div class="modal" id="img2">
    <div class="imagen">
        <a href="#img1">&#60;</a>
        <a href=""><img src="/img/kafos2.jpg"></a>
        <a href="#img3">></a>
    </div>
    <a class="cerrar" href="">X</a>
</div>
<div class="modal" id="img3">
    <div class="imagen">
        <a href="#img2">&#60;</a>
        <a href=""><img src="/img/kafos3.jpg"></a>
        <a href="#img4">></a>
    </div>
    <a class="cerrar" href="">X</a>
</div>
<div class="modal" id="img4">
    <div class="imagen">
        <a href="#img3">&#60;</a>
        <a href=""><img src="/img/kafos4.jpg"></a>
        <a href="#img5">></a>
    </div>
    <a class="cerrar" href="">X</a>
</div>
<div class="modal" id="img5">
    <div class="imagen">
        <a href="#img4">&#60;</a>
        <a href=""><img src="/img/kafos5.jpg"></a>
        <a href="#img6">></a>
    </div>
    <a class="cerrar" href="">X</a>
</div>
<div class="modal" id="img6">
    <div class="imagen">
        <a href="#img5">&#60;</a>
        <a href=""><img src="/img/kafos6.jpg"></a>
        <a href="#img7">></a>
    </div>
    <a class="cerrar" href="">X</a>
</div>
<div class="modal" id="img7">
    <div class="imagen">
        <a href="#img6">&#60;</a>
        <a href=""><img src="/img/kafos7.jpg"></a>
        <a href="#img1">></a>
    </div>
    <a class="cerrar" href="">X</a>
</div>
</div>
