<main class="menuPDF">
    {{!-- <object class="pdfView" type="application/pdf" data="/img/menu.pdf"></object> --}}
    {{!-- <center><iframe src="/img/menu.pdf" frameborder="0"></iframe></center> --}}
    <iframe src="/img/menu.pdf" frameborder="0"></iframe>
    
</main>