<head>
    {{!-- BOOTSTRAP JS --}}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.14/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.14/css/gijgo.min.css" rel="stylesheet" type="text/css" />
</head>

<div class="container p-4">
    <div class="row">
        <div class="col-md-4  mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/links/add" method="POST">
                        <div class="form-group">
                            <textarea name="descripcion" rows="2" class="form-control"
                                placeholder="Escriba aquí su pedido" autofocus required="true"></textarea>
                        </div>
                        <p></p>
                        <div class="form-group">
                            <input id="timepicker" name="horaEntrega" required="true">
                        </div>
                        <p></p>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" style="margin-left:31%">
                                Crear orden
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>
        $('#timepicker').timepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>