<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Inicia sesión con tu usuario</h3>
                </div>
                <div class="card-body">
                    <img src = "img/logo.jpg" alt="Kafos" class="card-img-top mx-auto m-2 rounded-circle w-60">
                    <p></p>
                    <form action="/signin" method="POST">
                        <div class="form-group">
                            <input type="text" name="username" placeholder="Ingrese su nombre de usuario"
                                class="form-control" required="true">
                        </div>
                        <p></p>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control"
                                placeholder="Ingrese su contraseña" required="true">
                        </div>
                        <p></p>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block">
                                Iniciar Sesión
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>